body{
   background-image: url("image1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.nav-bar{ 
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    text-decoration-color:white;

}
.link{
    width: 100%;
    background-color:blueviolet;
    justify-content: center;
    text-align: center;
    padding: 30px 0 30px 0;
    border: 2px;

}
nav-bar a{
  color: lightskyblue;
  text-decoration: none;
  /* border: 2px solid white; */
  width: 200px;
}


.numbertext {
  color: orangered;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-right: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0000;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  
}
h3{
    margin-left: 700px;
    font-size: 24;
}
.social-media-icons{
  display: flex;
  align-content: space-around;
  justify-content: center;
  
}

.social-media-icons img{
padding: 0 20px 0 20px;
}