*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:0 30px 0 30px;

}
 .nav-bar{ 
     display:flex;
     flex-direction:row;
     justify-content: space-around;
     align-items: center;
     text-color:white;

 }
 .link{
     width: 100%;
     background-color:blueviolet;
     justify-content: center;
     text-align: center;
     padding: 30px 0 30px 0;
     border: 2px;
 
 }
 
 .nav-bar a{
     color:none;
     text-decoration: none;
     /* border: 2px solid white; */
     width: 200px;
 }

 
.social-media-icons{
    width:20px;
    align-items: flex-end;
    flex-direction: row;
    justify-content: row;
    align-items: center;

}
.flex-container{
    display: flex;
    justify-content:center;
    align-content:center;
}
